language: generic

sudo: required

services:
  - docker

before_install:
  - docker build -t minuet1215/react-test-app -f ./frontend/Dockerfile.dev ./frontend

script:
  - docker run -e CI=true minuet1215/react-test-app npm run test

after_success:
  - docker build -t minuet1215/docker-frontend ./frontend
  - docker build -t minuet1215/docker-backend ./backend
  - docker build -t minuet1215/docker-nginx ./nginx

  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_ID" --password-stdin

  - docker push minuet1215/docker-frontend
  - docker push minuet1215/docker-backend
  - docker push minuet1215/docker-nginx

deploy:
  provider: elasticbeanstalk
  region: "ap-northeast-2"
  app: "docker-fullstack-app"
  env: "Dockerfullstackapp-env"
  bucket_name: "elasticbeanstalk-ap-northeast-2-016162039563"
  bucket_path: "docker-fullstack-app"
  on:
    branch: prod

  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_ACCESS_SECRET_KEY
